@model IEnumerable<Park_Play.Models.Park>

@{
    ViewBag.Title = "Index";
}

<h2>Milwaukee Area Parks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.parkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.parkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactNumber)
        </td>
        <td>
            @Html.ActionLink("View Park Details", "Details", new { id=item.ParkId })
        </td>
    </tr>
}

</table>
