@model IEnumerable<Park_Play.Models.PlayEvent>

@{
    ViewBag.Title = "RecommendedPlayEvents";
}

<h2>RecommendedPlayEvents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SportId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayEventId })
        </td>
    </tr>
}

</table>
