@model Park_Play.Models.RecommendedEventsViewModel

@{
    ViewBag.Title = "RecommendedPlayEvents";
}

<h2>RecommendedPlayEvents</h2>

<br />
<table class="table">
    <tr>
        @for (int i = 0; i < Model.PlayEvents.Count; i++)
        {
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].Park.parkName)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].Sport.sportName)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].numberOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].skillLevel)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].PlayDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].StartTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayEvents[i].EndTime)
            </td>
        }
    </tr>
</table>
<td>
    @Html.ActionLink("Chat with Players", "Chat", "Home") |
</td>
@Html.ActionLink("Back to Parks", "Index", "Parks")