@model IEnumerable<Park_Play.Models.PlayEvent>

@{
    ViewBag.Title = "ViewPlayEvents";
}

<h2>Play Events</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Park.parkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport.sportName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.skillLevel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numberOfPlayers)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Park.parkName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sport.sportName)
    </td>
    <td>
        @Html.ActionLink("Join", "JoinPlayEvent", new { id = item.PlayEventId }) |
        @Html.ActionLink("Leave", "LeavePlayEvent", new { id = item.PlayEventId }) |
        @Html.ActionLink("Players", "PlayEventMembers", new { id = item.PlayEventId })
    </td>
</tr>
}

</table>
